<h1>Services#new</h1>
<p>Find me in app/views/services/new.html.erb</p>

<%= simple_form_for [@service] do |f| %>

<%= f.input :title %>

<%= f.input :duration %>
<%= f.input :description %>
<%= f.input :photo, as: :file, input_html: { multiple: false } %>

<%= f.button :submit %>

<% end %>

