
  <div class="procedure-new-form-card">
  <h1>Criar novo serviço aqui</h1>


<%= simple_form_for [@service] do |f| %>

<%= f.input :title, label: "Título" %>

<%= f.input :duration, label: "Duração" %>
<%= f.input :description, label: "Descrição" %>
<%= f.input :photo, as: :file, input_html: { multiple: false }, label: "Foto" %>

<%= f.button :submit, value: "Criar Serviço", class: "btn btn-primary" %>

<% end %>
</div>

