<div class="container">
  <h1><%= @chatroom.name %> User: <%= current_user.fullname %></h1>
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
  <% end %>

  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render partial: 'messages/message', locals: { message: message} %>
    <% end %>
  </div>
</div>

<div class="videocall">
  <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
  <script>
    callFrame = window.DailyIframe.createFrame({
      iframeStyle: {
        position: 'fixed',
        border: '1px solid black',
        width: '375px',
        height: '450px',
        right: '1em',
        bottom: '1em'
      },
      lang: 'pt',
      showLeaveButton: true,
      showFullscreenButton: true
    });
    callFrame.join({ url: 'https://cliquesorriso.daily.co/cliquesorriso' })
  </script>
</div>