<div class="container">
  <div class="chatroom-title my-4">
    <h1><%= @chatroom.name %> - <%= current_user.fullname %></h1>
  </div>
  <% if current_user.dentist.nil? %>
    <h4>Mande sua mensagem para o dentista!</h4>
  <% else %>
    <h4>Mande sua mensagem para o paciente!</h4>
  <% end %>

  <div class="messages-container">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Mensagem" %>
    <% end %>

    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render partial: 'messages/message', locals: { message: message} %>
      <% end %>
    </div>
  </div>
</div>

<div class="videocall">
  <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
  <script>
    callFrame = window.DailyIframe.createFrame({
      iframeStyle: {
        position: 'fixed',
        border: '1px solid black',
        width: '375px',
        height: '450px',
        right: '1em',
        bottom: '1em'
      },
      lang: 'pt',
      showLeaveButton: true,
      showFullscreenButton: true
    });
    callFrame.join({ url: 'https://cliquesorriso.daily.co/cliquesorriso' })
  </script>
</div>