
<div class="d-flex">
<div class="labo-content-list">
<!-- <div class="new-labo-button btn btn-primary">
    <%= link_to 'New Laboratory', new_laboratory_path %>
</div> -->
<table>
  <h1>Laboratories</h1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratories.each do |laboratory| %>
      <tr>
        <td><%= laboratory.name %></td>
        <td><%= laboratory.address %></td>
        <td><%= link_to 'Show', laboratory, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
</div>
<br>

  <div id="map"
     style="width: 50%; height: 600px; right: 0; position: fixed"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
   
  </div>
  
</div>