<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-tooth logo-navbar"></i>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= "active" if controller_name == "pages" %>">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= "active" if controller_name == "procedures" %>">
        <%= link_to "Nossos Serviços", procedures_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= "active" if controller_name == "dentists" %>">
        <%= link_to "Nossos Dentistas", dentists_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= "active" if controller_name == "appointments"%>">
        <%= link_to "Marque uma Consulta", new_appointment_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 400, crop: "scale"}], class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag( "user.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Minha área", appointments_path, class: "dropdown-item" %>
            <%= link_to "Novo agendamento", new_appointment_path, class: "dropdown-item" %>
            <%= link_to "Minhas prescrições", prescriptions_path, class: "dropdown-item" %>
            <%= link_to "Nossos parceiros", laboratories_path, class: 'dropdown-item' %>
            <% if user_signed_in? && (current_user.admin) %>
                <%= link_to  "Novo serviço", new_service_path, class: "btn btn-primary dropdown-item"%>
                <%= link_to  "Todos os serviços", services_path, class: "btn btn-primary dropdown-item"%>
            <% end %>
            <% if user_signed_in? && (current_user.admin || current_user.dentist?) %>
              <%= link_to  "Novo procedimento", new_dentist_procedure_path(current_user.dentist.id), class: "btn btn-primary dropdown-item"%>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
