<h1>Procedures#index</h1>
<p>Find me in app/views/procedures/index.html.erb</p>

<% if user_signed_in? && (current_user.admin || current_user.dentist?) %>
  <%= link_to  "Create", new_dentist_procedure_path(current_user.dentist.id), class: "btn btn-primary"%>
<% end %>



<div class="services">
<% Service.all.each do |service| %>
    <div class="service">
      <div class="service-info">
        <h4><%= service.title %></h2>
        <div class="service-details">
            <div class="service-description">
                Descricao: <%= service.description %>
            </div>
            <div class="service-time">
                Duracao: <%= service.duration %>
            </div>
        </div>
      </div>  
      <div class="procedures">
        <% service.dentists.each do |dentist| %>
          <%= link_to procedure_path(Procedure.find_by(dentist_id: dentist.id)) do %>
            <div class="dentist_button">
                <div><img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="/assets/user-5d0a17a1a8c6db61a57ce05ef2b6c77a97a706da7cf250f27964a31a89df1414.png"></div>
                <div><%= dentist.user.fullname %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
<% end %>
</div>


<!-- <% @dentists.each do |d| %>
    <div class="procedure-card">
        <div class="procedure-photo">
            <% if d.user.photo.attached? %>
            <%= cl_image_tag d.user.photo.key, class: 'dentist-card-avatar', size: '100' %>
            <% else %>
            <%= image_tag "https://increasify.com.au/wp-content/uploads/2016/08/default-image.png", class: 'image-not-found-dentist-card', size: '100' %>
            <% end %>
        </div>
        <div class="procedure-details">
            <%= link_to dentist_path(d) do %>
                <span><%= " Dentista: #{d.user.first_name} #{d.user.last_name}" %></span>
                <span><%= "CRO: #{d.cro}" %></span>
            <% end %>
        </div>
    </div>
    <% d.procedures.each do |p| %>
        <div class="procedure-details">
            <div><%= "#{p.service.title}" %></div>
            <div><%= "#{p.service.description}" %></div>
            <div><%= "#{p.service.duration}" %></div>
            <%= link_to  "edit", edit_procedure_path(p), class: "btn btn-primary" %>
            <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Delete?' }, class: "btn btn-primary" %>
        </div>
    <% end %>
<% end %>
 -->