<h1>Procedures#index</h1>
<p>Find me in app/views/procedures/index.html.erb</p>

<% if current_user.admin || current_user.dentist? %>
<%= link_to  "Create", new_dentist_procedure_path(current_user.dentist.id) %>
<% end %>



<% @procedures.each do |p| %>
<div>
<%= link_to  "#{p.dentist.user.last_name}  --- #{p.service.title}", procedure_path(p) %>
<%= link_to  "edit", edit_procedure_path(p) %>
<%= link_to 'Delete', p, method: :delete, data: { confirm: 'Delete?' } %>
</div>

<br>
  <%= p.dentist.user.last_name %> --- <%= p.service.title %>
<% end %>








