<%= simple_form_for(@appointment) do |f| %>
  <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
  <div id='treatments'>
    <%= f.simple_fields_for :treatments do |treatment| %>
      <%= render 'treatment_fields', :f => treatment %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'adicionar tratamento', f, :treatments %>
    </div>
  </div>
  <%= f.submit %>
<% end %>