<%= simple_form_for(@appointment) do |f| %>
  <div id='treatments'>
    <p>Selecione os procedimentos que deseja:</p>
    <%= f.simple_fields_for :treatments do |treatment| %>
      <%= render 'treatment_fields', :f => treatment %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Adicionar Procedimento', f, :treatments %>
    </div>
  </div>
  <div class="new-appointment-date">
    <%= f.input :date, as: :string, input_html: { class: "datepicker" }, label: "Data" %>
  </div>
  <div class="new-appointment-hour d-none">
    <%= f.input :time, collection: TIME, label: "Horário" %>
  </div>
  <%= f.submit %>
<% end %>