<div class="page row around">
  <div class="content col-xs-12 col-md-4">
    <div class="profile-pic d-flex align-items-center flex-column">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag @user.photo.key,
        transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 400, crop: "scale"}],
        class: "avatar-large"%>
      <% else %>
        <%= image_tag("user.png", width: 100, height: 100 ) %>
      <% end %>
    </div>
    <h2><%= @user.fullname %></h2>
    <P><%= @user.address %></P>
    <P><%= @user.phone_number %></P>
    <P><%= @user.email %></P>
    <div><%= link_to 'atualizar', edit_user_registration_path(@user), class: "btn btn-primary" %></div>
  </div>
  <div class="content col-xs-12 col-md-8">
    <div class="dentists-list-title">
      <h2>Meus Agendamentos</h2>
    </div>
    <% @appointments.order(:date).each do |appointment| %>
        <div class="appointment-card">
          <p><%= appointment.date %></p>
          <% appointment.procedures.each do |procedure| %>
            <p><%= procedure.service.title %> | 
            <%= procedure.dentist.user.fullname %></p>
          <% end %>
          <% if Time.now > (appointment.date - (60 * 15)) && Time.now < (appointment.date + (appointment.appoint_duration * 60)) %>
            <div><%= link_to 'CHAT', chatroom_path(appointment.chatroom), class: "btn btn-primary" %></div>
          <% end %>
          <div><%= link_to 'detalhes', appointment_path(appointment), class: "btn btn-primary" %></div>
        </div>
    <% end %>  
    <div><%= link_to "Novo Agendamento", new_appointment_path, class: "btn btn-primary" %></div>
  </div>
</div>
