<div class="page-index row around">
  <div class="content profile-div col-xs-12 col-md-4">
    <div class="profile-pic d-flex align-items-center flex-column">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag @user.photo.key,
        transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 400, crop: "scale"}],
        class: "avatar-large"%>
      <% else %>
        <%= image_tag("user.png", width: 100, height: 100 ) %>
      <% end %>
    </div>
    <div class="appointments-title"><h2><%= @user.fullname %></h2></div>
    <P><%= @user.address %></P>
    <P><%= @user.phone_number %></P>
    <P><%= @user.email %></P>
    <div><%= link_to 'atualizar', edit_user_registration_path(@user), class: "btn btn-primary btn-block" %></div>
  </div>
  <div class="content col-xs-12 col-md-8">
    <div class="appointments-section">
      <div class="appointments-title">
        <i class="fas fa-angle-down"></i><i class="fas fa-angle-right inactive"></i><h2>Próximas Consultas</h2>
      </div>
      <div class="appointments-list">
        <% @appointments.order(:date).each do |appointment| %>
          <% if Time.now.strftime("%F") <= appointment.date.strftime("%F") %>
            <div class="appointment-card
            <% if Time.now.strftime("%F") == appointment.date.strftime("%F") %>
             today ">
            <% else %>">
            <% end %>
              <%# <h6><span class="inactive" id="today">Hoje - </span><%= appointment.date.strftime("%d/%m/%Y  -  %Hh%M") %><%#</h6> %>
              <h6><span class="inactive" id="today"><b>Hoje - </b></span><% if Time.now.strftime("%F") != appointment.date.strftime("%F") %><%= appointment.date.strftime("%d-%m-%Y") %> <% end %><%= appointment.time.gsub(':', 'h') %></h6>
              <% appointment.procedures.each do |procedure| %>
                <% if current_user.dentist? %>
                  <p><%= procedure.service.title %> | 
                  <%= appointment.user.fullname %></p>
                <% else %>
                  <p><%= procedure.service.title %> | 
                  <%= procedure.dentist.user.fullname %></p>
                <% end %>
              <% end %>
              
              <% now_in_mins = ((Time.now - 3 * 60 * 60).hour * 60) + (Time.now - 3 * 60 * 60 ).strftime("%M").to_i%>
              <% unless appointment.chatroom.nil? %>
                <div><%= link_to 'Chat', chatroom_path(appointment.chatroom), class: "btn btn-primary" %></div>
              <% end %>
              <% if now_in_mins > (appointment.time_values[:total_mins] - 15) && now_in_mins < (appointment.time_values[:total_mins] + appointment.appoint_duration) %>
              <%# if Time.now.strftime() > (appointment.date.change(offset: '-03:00') - (60 * 15)) && Time.now < (appointment.date.change(offset: '-03:00') + (appointment.appoint_duration * 60)) %>
                <div><%= link_to 'Videocall', videocall_path(appointment), class: "btn btn-primary" %></div>
              <% end %>
              <div class="d-flex justify-content-end"><%= link_to 'detalhes', appointment_path(appointment), class: "btn btn-primary" %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="appointments-section">
      <div class="appointments-title">
        <i class="fas fa-angle-right"></i><i class="fas fa-angle-down inactive"></i><h4>Histórico de Consultas</h4>
      </div>
      <div class="appointments-list inactive">
        <% @appointments.order(:date).each do |appointment| %>
          <% if Time.now.strftime("%F") > appointment.date.change(offset: '-03:00').strftime("%F") %>
            <div class="appointment-card">
              <%# <p><%#= appointment.date.strftime("%d/%m/%Y  -  %Hh%M") %> <%#</p> #%>
                <p><%= appointment.date.strftime("%d/%m/%Y") %> às <%= appointment.time %></p>
              <% appointment.procedures.each do |procedure| %>
                <p><%= procedure.service.title %> | 
                <%= procedure.dentist.user.fullname %></p>
              <% end %>
              <div><%= link_to 'detalhes', appointment_path(appointment), class: "btn btn-primary" %></div>
            </div>
          <% end %>
        <% end %>
      </div>  
    </div>
    <div class="content"><%= link_to "Novo Agendamento", new_appointment_path, class: "btn btn-primary btn-block" %></div>
  </div>
</div>
