<p><%= @appointment.date %></p>
<p><% @appointment.procedures.each do |procedure| %></p>
  <p><%= procedure.service.title %> | 
  <%= procedure.dentist.user.fullname %>
<% end %>
<div><%= link_to 'editar', edit_appointment_path(@appointment) %></div>
<div><%= link_to 'Excluir', @appointment, method: :delete, data: { confirm: 'Delete?' } %></div>
<div><%= link_to "Meus agendamentos", appointments_path %></div>
<% if current_user.dentist? %>
  <div><%= link_to "Criar prescrição", new_prescription_path(@appointment) %></div>
<% end %>