<div class="page-show container">
    <div class="appointment-show-card 
      <% if Time.now.strftime("%F") == @appointment.date.change(offset: '-03:00').strftime("%F") %>
      today ">
      <% else %>">
      <% end %>
      <div>
        <h6><span class="inactive" id="today-show">Hoje - </span><%= @appointment.date.strftime("%d/%m/%Y  -  %Hh%M") %></h6>
        <p><% @appointment.procedures.each do |procedure| %></p>
          <p><%= procedure.service.title %> | 
          <% if current_user.dentist? %>
            <%= @appointment.user.fullname %>
          <% else %>
            <%= procedure.dentist.user.fullname %>
          <% end %></p>
        <% end %>
      </div>  
      <div>
        <div><%= link_to 'editar', edit_appointment_path(@appointment), class: "btn btn-primary" %></div>
        <div><%= link_to 'Excluir', @appointment, method: :delete, data: { confirm: 'Delete?' }, class: "btn btn-primary" %></div>
      </div>
    </div>
    <div class="btn btn-primary" ><i class="fas fa-angle-left"></i><%= link_to "  Meus agendamentos", appointments_path %></div>
    <% if current_user.dentist? %>
      <div><%= link_to "Criar prescrição", new_prescription_path(@appointment), class: "btn btn-primary" %></div>
    <% end %>
</div>
