<div class="container">
	<div class="dentists-list-title">
		<h1>Our dentists</h1>
	</div>
	<div class="dentists-cards-container">
		<% @dentists.each do |dentist| %>
			<div class="dentist-card d-flex">
				<div class="dentist-card-avatar">
				  <% if dentist.user.photo.attached? %>
					  <%= cl_image_tag dentist.user.photo.key, class: 'dentist-card-avatar', size: '100' %>
					<% else %>
						<%= image_tag "https://increasify.com.au/wp-content/uploads/2016/08/default-image.png", class: 'image-not-found-dentist-card', size: '100' %>
					<% end %>
				</div>
				<div class="dentist-card-infos d-flex flex-column">
					<span class="dentist-card-infos-name">
						<%= link_to dentist.user.first_name, dentist_path(dentist) %>
					</span>
					<span class="dentist-card-infos-specialty">
						<%= dentist.specialty %>
					</span>
					<span class="dentist-card-infos-cro">
						CRO: <%= dentist.cro %>
					</span>
					

				</div>
			</div>
		<% end %>
	</div>
<%# idea: cards listing dentists profile (full name, cro, specialty, avatar) %>
</div>
